<!--{% load static %}-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--Link Font-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&family=Sansita+Swashed:wght@800&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" href="style.css">
    
    <!--Icon-->
    <link rel="icon" type="image/png" href="logo.png">
    
    
    <title>Welcome to My Page</title>
  </head>
  <body>
    <div class="bg">
      <div id="myprofile">
        Futuh's Profile
      </div>
      <div class="welcome">
        <div id="wlcm" class="centered text-center">
          Welcome!<br>
          <a class="btn btn-dark btn-lg" href="profile.html" role="button">Let's Get Started</a>
        </div>
      </div>
    </div>






    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>